"╔═══════════════════════════════════════════════════════════════════════════╗
"║ Copyright © 2021-2022 Sam4uk                                              ║
"║                                                                           ║
"║Permission is hereby  granted, free of charge , to  any  person obtaining a║
"║copy of this software and associated documentation files  (the “Software”),║
"║to deal in the Software without  restriction, including without  limitation║
"║the  rights  to  use, copy, modify, merge, publish, distribute, sublicense,║
"║and/or  sell  copies of  the Software,  and to permit persons  to  whom the║
"║Software  is furnished  to  do  so, subject  to  the  following conditions:║
"║                                                                           ║
"║The above copyright notice and this permission  notice shall be included in║
"║all copies or substantial portions of the Software.                        ║
"║                                                                           ║
"║THE SOFTWARE IS PROVIDED “AS  IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR║
"║IMPLIED,  INCLUDING  BUT  NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,║
"║FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE║
"║AUTHORS  OR COPYRIGHT HOLDERS  BE LIABLE FOR  ANY CLAIM, DAMAGES  OR  OTHER║
"║LIABILITY, WHETHER  IN  AN  ACTION  OF CONTRACT, TORT OR OTHERWISE, ARISING║
"║FROM, OUT OF  OR IN  CONNECTION  WITH  THE  SOFTWARE  OR  THE USE  OR OTHER║
"║DEALINGS IN THE SOFTWARE.                                                  ║
"║                                                                           ║
"║                                                                           ║
"║                                              Last update:02-11-22 22:40:41║
"╚═══════════════════════════════════════════════════════════════════════════╝
"
	" Автоматика
		" VIMRC
		" Дописати час останьої зміни файлу
		autocmd! BufWritePre $MYVIMRC call setline(23, '"║                                              Last update:'.strftime("%d-%m-%y %H:%M:%S║"))
		" Після запису файлу на диск перечитати конфігурацію
		autocmd! BufWritePost $MYVIMRC source $MYVIMRC
	"
		" Автоматичне завантаження менеджера плагінів Vim Plug
		" Якщо це NeoVim
		if has('nvim')
		" не має встановленого Vim-Plug
		if empty(glob('$HOME/.local/share/nvim/site/autoload/plug.vim'))
		" завантажуємо його
		:silent !wget -P ~/.local/share/nvim/site/autoload/
		\ https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
		endif
		else
		" якщо Vim
		" не має встановленого Vim-Plug
		if empty(glob('$HOME/.vim/autoload/plug.vim'))
		" завантажуємо його
		:silent !wget -P $HOME/.vim/autoload
		\ https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
		endif
		endif
	"
		" Автоматичне встановлення плагівнів
		" При кожному відкритті редактора первіряти стан плагінів і встановлюємо
		" якщо список плагінів оновився. Список плагінів знаходиться нижче
		autocmd VimEnter *
		\  if len(filter(values(g:plugs), '!isdirectory(v:val.dir)'))
		\|   PlugInstall --sync | q
		\| endif
	"
		" Запуск менеджера плагінів
		call plug#begin(has('nvim') ? stdpath('data') . '/plugged' : '~/.vim/plugged')
	"
"
	" ПЛАГІНИ
	" Тут список плагінів
	" Сюди додаємо все що нам потрібно
	" ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
	" Кольорові схеми
	Plug 'flazz/vim-colorschemes'
	Plug 'dracula/vim', { 'as': 'dracula' }
	" Перемикач коьорових схем
	Plug 'xolox/vim-colorscheme-switcher'
	"
	Plug 'posva/vim-vue'
	Plug 'tpope/vim-surround'
	Plug 'lervag/vimtex'
	Plug 'xolox/vim-misc'
	"
	Plug 'rhysd/vim-clang-format', {'for': ['c','cxx']}
	" FuzzyFinder (для шуидкого пошуку)
	Plug 'junegunn/fzf', { 'dir': '~/.fzf', 'do': './install --all' }
	Plug 'junegunn/fzf.vim'
	" NERDTree - Швидкий перегляд файлів
	Plug 'preservim/nerdtree'
	"Plug 'ryanoasis/vim-devicons'
	"Plug 'ayu-theme/ayu-vim'
	"Plug 'SirVer/ultisnips'
	"Plug 'honza/vim-snippets'
	"Plug 'mhinz/vim-startify'
	"Plug 'neoclide/coc.nvim', {'branch': 'release'}
	Plug 'tpope/vim-surround'
	Plug 'vim-airline/vim-airline' " Можифікувати рядок статусу
	Plug 'vim-airline/vim-airline-themes'
	" Сoc - автодоповнення 
	"  Plug 'neoclide/coc.nvim', {'branch': 'release'}
	" Доповнення для NERDTree
	"Plug 'tiagofumo/vim-nerdtree-syntax-highlight'
	"Plug 'scrooloose/nerdcommenter'
	" Доповнення для Git, а такод іконки для NERDTree
	Plug 'airblade/vim-gitgutter'
	Plug 'ryanoasis/vim-devicons'
	" Перевірка синтаксисуа
	"  Plug 'scrooloose/syntastic' 
	" Плагин автозавершення
	"  Plug 'Valloric/YouCompleteMe'
	"
	"
	" ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
	" Кінець списку плагінів
	" Додавати планіни після call plug#end() не можна
	call plug#end()
	" Нижче цього рядка налаштовуємо плагіни та редактор
"
	" Налаштування плагінів
		"AIRLINE
		let g:airline#extensions#tabline#enabled = 1
		let g:airline_powerline_fonts = 1 " Увімкнути підтримку Powerline шрифтів
		let g:airline#extensions#keymap#enabled = 1 "Не показывать текущий маппинг
		let g:airline_section_z = "\ue0a1:%l/%L Col:%c" " Кастомна графа положення курсору
		let g:Powerline_symbols='unicode' " Підтримка unicode
		let g:airline#extensions#xkblayout#enabled = 1 "
		let g:airline_theme='base16_dracula'
"
	" Налаштування редактора
		" фішки
		set nocompatible
		if has('syntax')
			syntax on
		endif
		"
		if has('filetype')
		filetype indent plugin on
		endif
		if !has('nvim')
			set hlsearch incsearch
			set laststatus=2
			" кращий бекап, свап та інші збереження для Vim (NVim має прекрасні за
			" замовчуванням
			set directory=~/.vim/dirs/tmp     " directory to place swap files in
			set backup                        " make backup files
			set backupdir=~/.vim/dirs/backups " where to put backup files
			set undofile                      " persistent undos - undo after you re-open the file
			set undodir=~/.vim/dirs/undos
			set viminfo+=n~/.vim/dirs/viminfo
			" create needed directories if they don't exist
			if !isdirectory(&backupdir)
				call mkdir(&backupdir, "p")
			endif
			if !isdirectory(&directory)
				call mkdir(&directory, "p")
			endif
			if !isdirectory(&undodir)
				call mkdir(&undodir, "p")
			endif
		endif
	"
		" MAST HAVE
		set hidden
		"set confirm
		" set autowriteall
		"
		set wildmenu
		set termguicolors
		set encoding=utf-8 termencoding=utf-8
		set nobackup noswapfile
		set fileencodings=utf-8,cp1251
	"
		"Зовнішній вигляд
		set visualbell
		set title
		set autoread
		set t_Co=256
		"colorscheme ayu
		colorscheme dracula
		"let ayucolor="dark"
	"
		" Згортки
		set foldenable
		set foldmethod=syntax
		set foldmethod=indent
		set foldcolumn=4
		set foldlevel=0
		set tags=tags\ $VIMRUNTIME/systags
	"
		" ЛІНІЙКИ
		set scrolloff=4	"Кількість рідків для скролінгу
		set nowrap " не ставити перенесення ряядка автоматично
		set nolinebreak " TODO
		set mousehide
		set mouse=n "mouse sets
		set ruler number relativenumber cursorline
			" Відступи
			set colorcolumn=79
			set tabstop=4
			set softtabstop=4
			set shiftwidth=4
			"
			set autoindent cindent smartindent
	"
		" symbols
		set list
		set listchars=eol:↩,tab:⥼-→,multispace:‾,lead:…,extends:⇒,precedes:⇚,nbsp:⁞
	"
		" Налашутвання курсору
		set ttimeoutlen=10 " Затримка виведення послідовностей
		let &t_EI.="\e[2 q" " normal
		let &t_SI.="\e[5 q" " insert
		let &t_SR.="\e[3 q" " repalce
		" де
		" 1 -миготливий прямокутник
		" 2 -звичайний прямокутник
		" 3 -миготливе підкреслення
		" 4 -звичайне підкресленння
		" 5 -миготлива риска
		" 6 -риска
		"et nowrap
	"
		" FileType
		augroup config_settings
			autocmd!
			autocmd FileType make set tabstop=8 shiftwidth=8
			autocmd FileType markdown set nowrap
			"autocmd FileType vim setlocal foldlevel=0 foldmethod=marker
			autocmd FileType python set omnifunc=pythoncomplete#Complete
			autocmd FileType tt2html set omnifunc=htmlcomplete#CompleteTags
			autocmd FileType javascript set omnifunc=javascriptcomplete#CompleteJS
			autocmd FileType html set omnifunc=htmlcomplete#CompleteTags
			autocmd FileType css set omnifunc=csscomplete#CompleteCSS
			autocmd FileType xml set omnifunc=xmlcomplete#CompleteTags
			autocmd FileType php set omnifunc=phpcomplete#CompletePHP
			autocmd FileType c set omnifunc=ccomplete#Complete
		augroup END
	"
		" Клавіатура
			" Тепер Вім розуміє команди українською
			set langmap=ФИСВУАПРШОЛДЬТЩЗЙКЫІЕГМЦЧНЯ;ABCDEFGHIJKLMNOPQRSSTUVWXYZ,фисвуапршолдьтщзйкыіегмцчня;abcdefghijklmnopqrsstuvwxyz
		"
			" ВЧИ ВІМ
			map	<Down>	<NOP>
			map	<Up>	<NOP>
			map	<Left>	<NOP>
			map	<Right		<NOP>
"
	" E O F
	"███████╗  ██████╗  ███████╗
	"██╔════╝ ██╔═══██╗ ██╔════╝
	"█████╗   ██║   ██║ █████╗  
	"██╔══╝   ██║   ██║ ██╔══╝  
	"███████╗ ╚██████╔╝ ██║     
	"╚══════╝  ╚═════╝  ╚═╝     
